.body {
    background-image: url(https://imgur.com/InVVmNm.jpg);
    height: 665px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#titulo {
    font-size: 70px;
    font-weight: 500;
}
#red {
    color: rgb(44, 194, 79);
}
#crear {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px 5% 20px 5%;
    border-radius: 5px;
}
#boton {
    background-color: rgb(44, 194, 79);
    border-color: rgb(33, 151, 61);
    border-radius: 25px;
    padding: 10px 30px;
    transition: all 200ms;
}
#boton:hover {
    background-color: rgb(34, 153, 62);
}
#boton:focus, .formulario:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 228, 166, 0.5);
    border-color: #80ff80;
}
#BtnAccept {
    background-color: rgb(44, 194, 79);
    border-color: rgb(33, 151, 61);
    padding: 10px 30px;
    transition: all 200ms;
}
#BtnAccept:hover {
    background-color: rgb(34, 153, 62);
}
#BtnAccept:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 228, 166, 0.5);
    border-color: #80ff80;
}
.formulario {
    border-radius: 25px;
    padding: 8px 10px;
}
#subtitulo {
    margin-top: -45px;
    padding: 0 0 30px 0;
}