<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark">
        <span class="text-muted" id="navegacion">
            <nav class="navbar navbar-expand-lg navbar-black bg-black justify-content-center">
                <a class="navbar-brand" routerLink="home"><img src="https://imgur.com/aHuar4z.png" id="image"></a>
                → &nbsp; &nbsp;
                <a class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tareas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" routerLink="crear">Crear Tarea</a>
                      <a class="dropdown-item" routerLink="pendientes">Tareas Pendientes</a>
                    </div>
                </a>
                <a class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" routerLink="user-list">Lista de Usuarios</a>
                      <a class="dropdown-item" routerLink="registrar">Ingresar</a>
                      <a class="dropdown-item" routerLink="config">Configuración</a>
                    </div>
                </a>
            </nav>
        </span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
</div>