    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 p-4 align-middle texto">
                <h1 id="title">Bienvenid@ a<br><u id="red">On</u>Task's</h1>
                <p class="p-1 parrafo">Si no sabes por donde comenzar,
                    da click al recuadro con tres lineas que la puedes encontrar en la parte superior
                    izquierda de la página, y podras crear, ingresar y configurar tu cuenta personal,
                    al igual que crear tareas y que no sufras luego con el problema de que se te olvido
                    algo importante que tenías que hacer.
                </p>
            </div>
            <div class="col-sm-5">
                <img src="https://imgur.com/xiXFknk.png" id="image">
            </div>
        </div>
    </div>